<div>
    <h2 style="text-align: center">Web-application <a href="#/users">USERBOOK</a></h2>
    <br>
    <div class="col-xs-6">
        <h4>What technologies were used:</h4>
        <br>
        <p> 1) Java 8</p>
        <p> 2) Spring framework, Spring data</p>
        <p> 3) Hibernate, MySQL</p>
        <p> 4) Gradle</p>
        <p> 5) AngularJS, HTML5, Bootstrap</p>
        Time spent on application development: 2 days.
    </div>
    <div class="col-xs-6"><h4>What could be done to improve application if i had more time:</h4>
        <br>
        <p> 1) Add save and update operations</p>
        <p> 2) Writing unit and integration tests</p>
        <p> 3) Adding roles to application and splitting functionality according them</p>
        <p> 4) Implement authorization (e.g. based on JWT concept) </p>
        <p> 5) Add DESC sorting</p>
        <p> 6) Using java8 time</p>
        <p> 7) Add images upload for every user</p>
        <p> 8) etc. </p>
    </div>
    <div></div>
</div>