<div>
    <h2 style="text-align: center">Welcome to <a href="#/users">USERBOOK</a> application.</h2>
    <h3>The application is build with AngularJS + REST server based on Java8.
        More about application and used technologies read <a href="#/about">here.</a>
    </h3>
    <div style="padding-top: 100px">
        <img src="static/img/spring1.png">
        <img src="static/img/hibernate2.png">
        <img src="static/img/AngularJS-large.png">
    </div>
</div>
