<div ng-controller="UsersController">
    <h2 style="text-align: center">Users</h2>
    <div class="col-xs-offset-10 col-xs-2">show by:
        <a href="#/users?page={{currentPage}}&itemsPerPage=5&sort={{sort}}">5</a>
        <a href="#/users?page={{currentPage}}&itemsPerPage=10&sort={{sort}}">10</a>
        <a href="#/users?page={{currentPage}}&itemsPerPage=50&sort={{sort}}">50</a>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <td><a href="#/users?page={{currentPage}}&itemsPerPage={{itemsPerPage}}&sort=id">ID</a></td>
            <td><a href="#/users?page={{currentPage}}&itemsPerPage={{itemsPerPage}}&sort=firstName">First name</a></td>
            <td><a href="#/users?page={{currentPage}}&itemsPerPage={{itemsPerPage}}&sort=lastName">Last Name</a></td>
            <td><a href="#/users?page={{currentPage}}&itemsPerPage={{itemsPerPage}}&sort=age">Age</a></td>
            <td><a href="#/users?page={{currentPage}}&itemsPerPage={{itemsPerPage}}&sort=Gender">Gender</a></td>
            <td><a href="#/users?page={{currentPage}}&itemsPerPage={{itemsPerPage}}&sort=creationTime">Creation time</a>
            </td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="user in users">
            <td><a href="#/users/{{user.id}}">{{user.id}}</a></td>
            <td><a href="#/users/{{user.id}}">{{user.firstName}}</a></td>
            <td><a href="#/users/{{user.id}}">{{user.lastName}}</a></td>
            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.creationTime | date: 'dd MMMM yyyy HH:mm'}}</td>
            <td>
                <button class="btn btn-xs btn-danger" ng-click="delete(user.id,$index)">Delete</button>
            </td>
        </tr>
    </table>

    <div class="text-center training-pagination">
        <uib-pagination ng-change="pageChanged()" boundary-links="false" total-items="totalItems" ng-model="currentPage"
                        items-per-page="itemsPerPage" class="pagination-sm"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></uib-pagination>
    </div>

</div>