<div ng-controller="UserController" style="padding-top: 40px">
    <div class="col-xs-5">
        <img src="static/img/no-avatar-male.jpg" height="300px" width="300px">
    </div>
    <div class="col-xs-7">
        <p style="font-size: 25px">{{user.firstName}} {{user.lastName}}</p>
        <p>Age: {{user.age}}</p>
        <p>Gender: {{user.gender}}</p>
        <p>Account created: {{user.creationTime | date: 'dd MMMM yyyy HH:mm'}}</p>
        <p>Hobbies:
        <ul>
            <li ng-repeat="hobby in user.hobbies">{{hobby.name}}</li>
        </ul>
        </p>
    </div>
</div>